---
import Header from '../layouts/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
// Import Stylesheet
import '../styles/global.css';

// data source
// replace temporary JSON placeholder API
const source = 'https://jsonplaceholder.typicode.com/users';
// fetch the data
const res = await fetch(source); 
// store retreived data
const data = await res.json();
---

<BaseLayout>		
		<!-- Header -->

		<Header></Header>			

		<main id="content" class="main-area">

			<ul class="cards">
		  
				<!-- Your API Data -->
				{
					data.map( item =>
					<li class="card-item">
						<a href="#">
							<figure class="card">
							<img src="https://assets.codepen.io/16425/image-placeholder.png" alt="Placeholder">
							<figcaption class="caption">
								<h3 class="caption-title">{item.name}</h3>
								<p>{item.company.catchPhrase}</p>
							</figcaption>
							</figure>
						</a>
					</li> 
					)
				}
		  
			</ul>
		  </main>
		  
</BaseLayout>		

